html{
    height:100%;
    margin:0
}
body {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}
#sidebar {
  width: 80px;
  background-color: #aeaeae;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2px;
  height: 100vh;
  flex-shrink: 0;
}
#sidebar button {
    background: none;
    border: none;
    color: gray;
    margin: 2px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding:20px
}
#sidebar .shown{
    background-color:gray;
}
#panels {
    display: flex;
    flex: 1;
    height:100%;
}
.panel {
    flex: 1;
    border: none;
    display: block;
    height:100%;
}
.hidden {
    display: none !important;
}

webview {
    flex: 1;
    border: none;
    height:100%;
    display: block;
}

webview::part(iframe) {
  height: 100% !important;
  width: 100% !important;
}